.stat-grid-container {
    align-self: left;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin: auto;
    max-height: fit-content;
    min-height: fit-content;
    min-width: fit-content;
    padding-right: 2%;
    padding-left: 2%;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
  }
  
  .stat-header {
    text-align: center;
    font-size: large;
    padding: 2%;
  }