.graph-view-options-container {
    text-align: left;
    font-size: medium;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    padding: 1%;
  }

  .graph-view-option {
    justify-content: center;
    text-align: left;
    padding: 1%;
    margin: 0.5%;
    border: 2px solid rgb(228, 230, 236);
    border-radius: 15px;
  }
  
  .graph-view-option-title {
    text-align: center;
    background-color: rgb(228, 230, 236);
    border-radius: 15px;
    margin: 0.5%;
    padding: 1%
  }
  
  .graph-view-option-input {
    align-items: center;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  
  .graph-view-option-radio {
    align-items: center;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  
  .graph-view-option-radio > p {
    padding-right: 1%;
  }