.app-wrapper {
  background-color: rgb(241, 244, 248);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.latest-timestamp {
  text-align: center;
}

.filter-container {
  text-align: center;
  font-size: medium;
  padding: 1%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
}

.filter {
  justify-content: center;
  text-align: left;
  padding: 1%;
  margin: 0.5%;
}

.filter-title {
  text-align: center;
}

.filter-input {
  align-items: center;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.filter-radio {
  align-items: center;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  padding: 2%;

}

.filter-radio > p {
  padding-right: 1%;
}

.spinner {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  padding: 5%;
}

.no-data-message {
  text-align: center;
}

.solved-only-disclaimer {
  text-align: center;
  font-size: smaller;
  padding-top: 1%;
}